<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.tofrankie.alfred_color_converter</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>6A1A99DD-9A7E-4C57-8776-97553335C525</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>A1734B50-7DFA-431F-B04E-07AB19CFBC0B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>A1734B50-7DFA-431F-B04E-07AB19CFBC0B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E8A13DDD-F39E-4591-A6D5-019A4AFB6C62</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>sourceoutputuid</key>
          <string>1535158C-7453-459E-A766-22BEA70AC038</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>43506C8C-A1E0-49FE-9AC7-A932153B1640</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Frankie</string>
    <key>description</key>
    <string>An Alfred workflows for color conversion</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Color Converter</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>127</integer>
          <key>keyword</key>
          <string>clr</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>2</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Loading...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string></string>
          <key>title</key>
          <string>Color converting...</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>6A1A99DD-9A7E-4C57-8776-97553335C525</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>alfred.workflow.utility.hidealfred</string>
        <key>uid</key>
        <string>E8A13DDD-F39E-4591-A6D5-019A4AFB6C62</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{query}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>convert failed</string>
              <key>outputlabel</key>
              <string>hide</string>
              <key>uid</key>
              <string>1535158C-7453-459E-A766-22BEA70AC038</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>convert</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>A1734B50-7DFA-431F-B04E-07AB19CFBC0B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>43506C8C-A1E0-49FE-9AC7-A932153B1640</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string></string>
    <key>uidata</key>
    <dict>
      <key>43506C8C-A1E0-49FE-9AC7-A932153B1640</key>
      <dict>
        <key>xpos</key>
        <integer>475</integer>
        <key>ypos</key>
        <integer>205</integer>
      </dict>
      <key>6A1A99DD-9A7E-4C57-8776-97553335C525</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>110</integer>
      </dict>
      <key>A1734B50-7DFA-431F-B04E-07AB19CFBC0B</key>
      <dict>
        <key>xpos</key>
        <integer>295</integer>
        <key>ypos</key>
        <integer>130</integer>
      </dict>
      <key>E8A13DDD-F39E-4591-A6D5-019A4AFB6C62</key>
      <dict>
        <key>xpos</key>
        <integer>470</integer>
        <key>ypos</key>
        <integer>125</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://github.com/toFrankie/alfred-color-converter.git</string>
  </dict>
</plist>
